body {
    font-family: 'Times New Roman', Times, serif;
    margin: 0;
    padding: 40px;
    transition: background-color 0.3s ease, color 0.3s ease;
    font-size: 1.2em;
    display: flex;
    flex-direction: column;
}

.container {
    visibility: hidden;
    max-width: 800px;
    margin: 30px auto 0;
    font-size: 25px;
    display: flex;
    flex-direction: column;
    z-index: 1;
}

.container p {
    margin: 5px 0;
}

#title {
    font-size: 36px;
    margin: 0 auto 20px;
}

#separator {
    font-size: 60px;
    margin: 0 auto 40px auto;
}

.special-line {
    display: inline-block;
    margin: 15px auto !important;
    font-style: italic;
    max-width: 50%;
    text-align: center;
}

.line-wrapper {
    display: flex;
    justify-content: space-between;
}

/* Light Mode (default) */
.light {
    background-color: #fff;
    color: #333;
}

/* Sepia Mode */
.sepia {
    background-color: #f5ecd2;
    color: #5b4636;
}

/* Dark Mode */
.dark {
    background-color: #121212;
    color: #e0e0e0;
}

button.theme-toggle {
    padding: 10px;
    background-color: transparent;
    border: none;
    cursor: pointer;
    border-radius: 50%;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 50px;
    height: 50px;
    position: absolute;
    top: 20px;
    right: 20px;
    transition: background-color 0.3s;
}

button.theme-toggle:hover {
    background-color: #ddd;
}

button.theme-toggle:focus {
    outline: none;
}

button.theme-toggle .light-icon,
button.theme-toggle .dark-icon,
button.theme-toggle .sepia-icon {
    display: none;
    width: 24px;
    height: 24px;
}

button.theme-toggle .light-icon {
    display: inline-block;
}

.dark button.theme-toggle .light-icon {
    display: none;
}

.dark button.theme-toggle .dark-icon {
    display: inline-block;
}

.sepia button.theme-toggle .light-icon,
.sepia button.theme-toggle .dark-icon {
    display: none;
}

.sepia button.theme-toggle .sepia-icon {
    display: inline-block;
}

@media (max-width: 600px) {
    body {
        font-size: 1em;
        padding: 20px;
    }
}

dfn {
    text-decoration: underline;
    text-decoration-thickness: 0.3px;
    font-style: normal;
    cursor: help;
    position: relative;
}

dfn:hover::after {
    content: attr(data-note);
    position: absolute;
    z-index: 9999;
    background-color: white;
    max-width: 800px;
    width: max-content;
    border: 1px solid black;
    padding: 5px;
    transform: translateY(-1.5em);
    left: 50%;
    transform: translateX(-50%) translateY(-2em);
    word-wrap: break-word;
}

.dark dfn:hover::after {
    background-color: #333;
    color: #e0e0e0;
    border: 1px solid #e0e0e0;
}

.sepia dfn:hover::after {
    background-color: #f5ecd2;
    color: #5b4636;
    border: 1px solid #5b4636;
}
