<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Easy Chaucer</title>
    <link rel="icon" type="image/x-icon" href="{{ url_for('static', filename='assets/favicon.png') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>

<body>
    <header>
        {% include "navbar.html" %}
    </header>

    <div class="container">
        <p>
            <b>EasyChaucer</b> is an easy way to read Geoffrey Chaucer's 'The Canterbury Tales' in the original Middle English&#8212;with the help of on-screen notes.
        </p>

        <div style="font-size: 60px; margin: 0 auto 50px auto;">𓆱</div>

        <p>
            The Canterbury Tales (Middle English: Tales of Caunterbury)[2] is a collection of twenty-four stories that runs to over 17,000 lines written in Middle English by Geoffrey Chaucer between 1387 and 1400.[3] It is widely regarded as Chaucer's magnum opus. The tales (mostly written in verse, although some are in prose) are presented as part of a story-telling contest by a group of pilgrims as they travel together from London to Canterbury to visit the shrine of Saint Thomas Becket at Canterbury Cathedral. The prize for this contest is a free meal at the Tabard Inn at Southwark on their return.

It has been suggested that the greatest contribution of The Canterbury Tales to English literature was the popularisation of the English vernacular in mainstream literature, as opposed to French, Italian or Latin. English had, however, been used as a literary language centuries before Chaucer's time, and several of Chaucer's contemporaries—John Gower, William Langland, the Pearl Poet, and Julian of Norwich—also wrote major literary works in English. It is unclear to what extent Chaucer was seminal in this evolution of literary preference.

The Canterbury Tales is generally thought to have been incomplete at the end of Chaucer's life. In the General Prologue, some 30 pilgrims are introduced. According to the Prologue, Chaucer's intention was to write four stories from the perspective of each pilgrim, two each on the way to and from their ultimate destination, St. Thomas Becket's shrine (making for a total of about 120 stories). It is revered as one of the most important works in English literature.
        </p>
    </div>
</body>

</html>
