<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>EasyChaucer</title>
    <link rel="icon" type="image/x-icon" href="{{ url_for('static', filename='assets/favicon.png') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/responsive.css') }}">
</head>

<body>
    <header>
        {% include "navbar.html" %}
    </header>

    <div class="container">
        <p>
            <b>EasyChaucer</b> is an easy way to read Geoffrey Chaucer's 'The Canterbury Tales' in the original Middle English&#8212;with the help of on-screen notes.
        </p>

        <div id="separator">𓆱</div>

        <img style="width: 200px; height:200px; margin: 0 auto 50px;" src="https://upload.wikimedia.org/wikipedia/commons/thumb/e/e1/Canterbury_Tales_characters_around_table_%E2%80%94_traced.svg/220px-Canterbury_Tales_characters_around_table_%E2%80%94_traced.svg.png" alt="">
        <p>
            'The Canterbury Tales' is a collection of twenty-four tales written in Middle English by Geoffrey Chaucer in the 14th century.
            The tales are presented as part of a story-telling contest among a group of pilgrims on their way to Canterbury.
            The tales are generally divided into 'Fragments'.
        </p>
    </div>
</body>

</html>
