<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Easy Chaucer</title>
    <link rel="icon" type="image/x-icon" href="{{ url_for('static', filename='assets/favicon.png') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>

<body>
    <header>
        {% include "navbar.html" %}
    </header>

    <div class="container">
        <p id="title">{{ title }}</p>

        {% set ns = namespace(line_counter = initial_line - 1) %}

        {% for line in lines %}
            <div class="line-wrapper">
                <p>{{ line|safe }}</p>

                {% if 'special-line' not in line %}
                    {% set ns.line_counter = ns.line_counter + 1 %}
                    
                    {% if ns.line_counter is divisibleby 5 %}
                        <p class="line-number">{{ ns.line_counter }}</p>
                    {% endif %}
                {% endif %}
            </div>
        {% endfor %}
    </div>
</body>
</html>
